<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-double-up"></i></button>
<footer class="text-center">
    <div class="row mt-2">
        <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-12">
            <p class="text-primary">Column 1</p>

        </div>
        <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-12">
            <p class="text-primary">Column 2</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-12">
            <p class="text-primary">Contacts</p>
            <div class="container-fluid">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://google.com.vn" class="ml-3">
                    <i class="fab fa-google fa-2x icon-danger"></i>
                </a>
                <a href="https://twitter.com" class="ml-3">
                    <i class="fab fa-twitter fa-2x icon-info"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">

        </div>
    </div>
</footer>