<div class="mt-4">
    <a href="/" class="sidebar-brand normal-text">
        <i class="fa fa-cubes fa-4x"></i>
        <span class="large-text">Templates<sup>TM</sup></span>
    </a>
</div>
<br>
<div class="item-holder pb-0 border-bottom-0">
    <div class="sidebar-item">
        <a href="/sensor" class="sidebar-text normal-text py-2">
            <i class="fa fa-smog large-text"></i>
            <span class='ml-2'>Sensor</span>
        </a>
    </div>
</div>
<div class="item-holder border-bottom-0">
    <div class="sidebar-item">
        <a href="/message" class="sidebar-text normal-text pt-2">
            <i class="fa fa-comment-dots large-text"></i>
            <span class='ml-2'>Message</span>
        </a>
    </div>
</div>
<div class="item-holder">
    <div class="sidebar-item">
        <a href="/mqtt" class="sidebar-text normal-text pt-2">
            <i class="fa fa-sticky-note large-text"></i>
            <span class='ml-2'>MQTT</span>
        </a>
    </div>
</div>
<div class="item-holder">
    <div class="sidebar-item">
        <a href="/user" class="sidebar-text normal-text pt-2">
            <i class="fa fa-users large-text"></i>
            <span class='ml-2'>User</span>
        </a>
    </div>
</div>